@{
    ViewData["Title"] = "About";
}

@*<div class="w-75">*@
    <h4 class="text-center p-1 p-md-5">Hello! Welcome to my blog. My name is Eric Bruce, Full Stack Developer. I work in the ASP.NET stack
        along with HTML/CSS/Javascript and Bootstrap. This is a blog to document what I've learned becoming a Full Stack Developer. I enjoy
        solving problems and creating new experiences. If you haven't checked out my portfolio to showcase my other work, 
        <a class="text-primary" href="https://ericbruce.dev" target="_blank">please click here</a>
    </h4>
@*</div>*@