@using TheBlogProject.Models
@using TheBlogProject.Services
@model IEnumerable<Blog>

@inject IImageService imageService

﻿@{
    ViewData["Title"] = "Eric Bruce";
    ViewData["SubTitle"] = "";
}
<h2 class="text-center mb-5">Select a Blog</h2>

    <div class="row row-cols-1 row-cols-md-3 d-flex justify-content-center">
            @foreach(var blog in Model)
            {
                <div class="card bg-dark text-light border-1 border-light mb-3 me-3">
                    <a asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">
                        @*<img class="img-thumbnail h-100 w-100" src="@imageService.DecodeImage(blog.ImageData, blog.ContentType)" alt="Alternate Text" />  *@
                        <div class="card-body">
                            <h5 class="card-title text-light">@Html.DisplayFor(modelItem => blog.Name)</h5>
                            <p class="card-text text-light">Posted On @Html.DisplayFor(modelItem => blog.Created)</p>
                        </div> 
                    </a>
                </div>
            }        
    </div>

@*<div class="clearfix">
    <a href="#" class="btn btn-primary float-right rounded-3">Older Posts &rarr;</a>
</div>*@